<div class="authform">


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <h3 class="col-md-12 page-title" >Editar mi cuenta</h3>


    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email do %> 
          <i class="glyphicon glyphicon-user"></i>
          Correo 
      <%end%>
          <br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :password do %>
          <i class="glyphicon glyphicon-lock"></i>
          Contraseña
      <%end%>
      <i>(déjelo en blanco si no desea cambiarlo)</i><br />
      
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> mínimo de caracteres</em>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation do %>
          <i class="glyphicon glyphicon-lock"></i>
          Confirmar contraseña 
      <%end%>
          <br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :current_password do %> 
          <i class="glyphicon glyphicon-lock"></i>
          Contraseña actual
      <%end %>
      <i>(necesitamos su contraseña actual para confirmar sus cambios)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
    </div>
    

    <%= f.submit 'Actualizar', :class => 'button right'%>

    <%= link_to "Atrás", :back, class: 'dark' %>
  <% end %>


  
</div>