<%= form_with(model: place_associated, local: true) do |form| %>
  <% if place_associated.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place_associated.errors.count, "error") %> prohibited this place_associated from being saved:</h2>

      <ul>
      <% place_associated.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :place_id %>
    <%= form.text_field :place_id %>
  </div>

  <div class="field">
    <%= form.label :associated_id %>
    <%= form.text_field :associated_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
