<p id="notice"><%= notice %></p>

<h1>Place Associateds</h1>

<table>
  <thead>
    <tr>
      <th>Place</th>
      <th>Associated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @place_associateds.each do |place_associated| %>
      <tr>
        <td><%= place_associated.place %></td>
        <td><%= place_associated.associated %></td>
        <td><%= link_to 'Show', place_associated %></td>
        <td><%= link_to 'Edit', edit_place_associated_path(place_associated) %></td>
        <td><%= link_to 'Destroy', place_associated, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place Associated', new_place_associated_path %>
