<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @place_associated.place %>
</p>

<p>
  <strong>Associated:</strong>
  <%= @place_associated.associated %>
</p>

<%= link_to 'Edit', edit_place_associated_path(@place_associated) %> |
<%= link_to 'Back', place_associateds_path %>
