




<%= simple_form_for([:admin, place], html: {multipart: true}, :defaults => { :input_html => { :class => "form-control" } }) do |f| %>

  <%= render  :partial=>"shared/display_errors", :locals => {:resource => @place, :field => ''} %>

  <div class="form-group col-sm-12 <%= "has-error" if @place.errors[:name].any? %>">
    <%= f.label :name, class: 'control-label' %>
    <%= f.input_field :name %>
    <%= f.error :name, class:'help-block' %>
  </div>


	<div class="form-group col-sm-12 " style="margin-bottom: 4px;" >
		
		<%= f.submit 'Guardar', :class => 'button right' %>
		
    <%= link_to 'Atrás', admin_places_path, class: 'dark left' %>
			
	</div>
<% end %>
