<% content_for :title do %>
    Editar área
<% end %>

<div class="container-fluid">
    <div class="row">


        <div class="content-form col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <h3 class="col-sm-12 page-title" >EDITAR ÁREA</h3>            
            <%= render 'form', place: @place %>
        </div>

    </div>
</div>