
<% content_for :title do %>
    Áreas
<% end %>


<div class="container-fluid">
  <div class="row">

    <div class="content-index-title" >
      <h3 class ="index-title"></h3> 
      <%= link_to 'NUEVA ÁREA', new_admin_place_path, class: 'button' %>
      <span class="clear"></span>
    </div>
      
    <div class="table-cotainer">
        
      <table class="table table-hover dt-responsive nowrap">
        <thead>
          <tr>
            <th>Nombre</th>
            <th >Opciones</th>
          </tr>
        </thead>

        <tbody>
          <% @places.each do |place| %>
            <tr>

              <td>
                <%= place.name %>
              </td>

              <td>
                <%= link_to edit_admin_place_path(place), class: 'button button-icon' do %>
                    <i class="glyphicon glyphicon-pencil"></i>
                <% end %>
                <%= link_to admin_place_path(place), class: 'button button-icon', 
                    method: :delete, data: { confirm: '¿Estas seguro?' } do %>
                    <i class="glyphicon glyphicon-trash"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  
  </div>
</div>

