

<%= simple_form_for( @referred, html: {multipart: true}, :defaults => { :input_html => { :class => "form-control" } }) do |f| %>

	<%= render  :partial=>"shared/display_errors", :locals => {:resource => referred, :field => ''} %>

  <div class="form-group col-xs-12 <%= "has-error" if referred.errors[:names].any? %>">
    <%= f.label :names, class:"control-label" %>
    <%= f.input_field :names, class: 'form-control' %>
    <%= f.error :names, class:'help-block' %>
  </div>

  <div class="form-group col-xs-12 <%= "has-error" if referred.errors[:surnames].any? %>">
    <%= f.label :surnames, class:"control-label" %>
    <%= f.input_field :surnames, class: 'form-control' %>
    <%= f.error :surnames, class:'help-block' %>
  </div>

  <div class="form-group col-xs-12 <%= "has-error" if referred.errors[:identification_card].any? %>">
    <%= f.label :identification_card, class:"control-label" %>
    <%= f.input_field :identification_card, class: 'form-control' %>
    <%= f.error :identification_card, class:'help-block' %>
  </div>

  <div class="form-group col-xs-12 <%= "has-error" if referred.errors[:email].any? %>">
    <%= f.label :email, class:"control-label" %>
    <%= f.input_field :email, class: 'form-control' %>
    <%= f.error :email, class:'help-block' %>
  </div>


	<div class="form-group col-xs-12 " style="margin-bottom: 4px;" >
		
		<%= f.submit 'Guardar', :class => 'button right' %>
		
		<%= link_to 'Atrás', referreds_path, class: 'dark' %>
			
	</div>
<% end %>
