
<% content_for :title do %>
    Editar Referido
<% end %>


<div class="container-fluid">
    <div class="row">

        <div class="content-form col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <h3 class="col-md-12 page-title" >EDITAR REFERIDO</h3>        
            <%= render 'form', referred: @referred %>
        </div>

    </div>

</div>


