


<% content_for :title do %>
    Referidos
<% end %>

<div class="container-fluid">
  <div class="row">


    <div class="content-index-title" >
        <h3 class ="index-title"></h3>
        <%= link_to 'NUEVO REFERIDO', new_referred_path, class: 'button' %>
        <span class="clear"></span>
    </div>
    <div class="table-cotainer">
        <table class="table table-hover dt-responsive nowrap">
          <thead>
            <tr>
              <td>Nomber</td>
              <td>Apellidos</td>
              <td>Cédula</td>
              <td>Correo</td>
              <td>Opciones</td>
            </tr>
          </thead>

          <tbody>
            <% @referreds.each do |referred| %>
              <tr>
                <td><%= referred.names %></td>
                <td><%= referred.surnames %></td>
                <td><%= referred.identification_card %></td>
                <td><%= referred.email %></td>

                <td>
                  <%= link_to edit_referred_path(referred), class: 'button button-icon' do %>
                      <i class="glyphicon glyphicon-pencil"></i>
                  <% end %>
                  <%= link_to referred, class: 'button button-icon', 
                      method: :delete, data: { confirm: '¿Estas seguro?' } do %>
                      <i class="glyphicon glyphicon-trash"></i>
                  <% end %>
                </td>
                
              </tr>
            <% end %>
          </tbody>
      </table>

    </div>
  </div>
</div>