<p id="notice"><%= notice %></p>

<p>
  <strong>Names:</strong>
  <%= @referred.names %>
</p>

<p>
  <strong>Surnames:</strong>
  <%= @referred.surnames %>
</p>

<p>
  <strong>Id:</strong>
  <%= @referred.id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @referred.email %>
</p>

<%= link_to 'Edit', edit_referred_path(@referred) %> |
<%= link_to 'Back', referreds_path %>
