

<div class="container">


  <div class="authform">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <h2>¿Olvidaste tu contraseña?</h2>

  
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <%= f.submit "Enviarme instrucciones", :class => 'button right',
      :style=>'width: 100%;' %>
<% end %>


   </div>
 </div>