<%= form_with(model: associated, local: true) do |form| %>
  <% if associated.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(associated.errors.count, "error") %> prohibited this associated from being saved:</h2>

      <ul>
      <% associated.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :names %>
    <%= form.text_field :names %>
  </div>

  <div class="field">
    <%= form.label :surnames %>
    <%= form.text_field :surnames %>
  </div>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id %>
  </div>

  <div class="field">
    <%= form.label :no_casa %>
    <%= form.number_field :no_casa %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
