<p id="notice"><%= notice %></p>

<h1>Associateds</h1>

<table>
  <thead>
    <tr>
      <th>Names</th>
      <th>Surnames</th>
      <th>Id</th>
      <th>No casa</th>
      <th>Address</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @associateds.each do |associated| %>
      <tr>
        <td><%= associated.names %></td>
        <td><%= associated.surnames %></td>
        <td><%= associated.id %></td>
        <td><%= associated.no_casa %></td>
        <td><%= associated.address %></td>
        <td><%= associated.user %></td>
        <td><%= link_to 'Show', associated %></td>
        <td><%= link_to 'Edit', edit_associated_path(associated) %></td>
        <td><%= link_to 'Destroy', associated, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Associated', new_associated_path %>
