<% if resource.errors.any? || field != '' %>
    <div class="form-group col-sm-12" id="error_explanation">
    
        <h4><i class="glyphicon glyphicon-ban-circle"></i> ¡Parece que hubieron errores!</h4>  
        <ul class="chart-legend clearfix clear">

        <% resource.errors.full_messages.each do |msg| %>
            <li> <%= msg %> </li>
        <%end%>

        <% if field != '' %>
            <li><%=field%></li>
        <% end %>
    

        </ul>
    
    </div>
<% end %>