
<div class="back-img">
    
    <div class="img-cont" >
        <%= image_tag("fondo.png", :alt => "referimiento logo") %>
        <h4>¡Bienvenido! por favor seleccione una opción desde el menú.</h4>
    </div>

</div>

