<%= simple_form_for(referral, html: {multipart: true}, :defaults => { :input_html => { :class => "form-control" } }) do |f| %>


	<%= render  :partial=>"shared/display_errors", :locals => {:resource => referral, :field => @error_places } %>


  <div class="form-group col-xs-12 <%= "has-error" if referral.errors[:date].any? %>">
    <%= f.label :date, class:"control-label" %>
    <%= f.input_field :date, class: 'form-control datepicker', :as => :string, html5: true %>
    <%= f.error :date, class:'help-block' %>
  </div>


  <div class="form-group col-xs-12 <%= "has-error" if referral.errors[:referred].any? %>">
    <%= f.label :referred, class:"control-label" do %>
     <abbr title="requerido">*</abbr>
      Referido
    <% end %>

    <%= f.input_field :referred_id, class: 'form-control',  
        :collection => Referred.get_by_associated(current_user.associated),
        :label_method => :full_name,:value_method => :id  ,
        :selected => @referral.referred_id,
        include_blank: true
    %>
    <%= f.error :referred, class:'help-block' %>

  </div>


  <div class="form-group col-xs-12 <%= "has-error" if @error_places!='' %>">
    <%= f.label 'places', class:"control-label" do %>
      <abbr title="requerido">*</abbr>
      Áreas
    <%end%>
    <%= select_tag 'places[]', 
        options_for_select(current_user.associated.place_associateds.map { |p| [p.place.name, p.id] }, 
        referral.associated_place_referrals.pluck(:place_associated_id)), 
        multiple: true,
        class: 'form-control'
    %>

    <span class="error help-block" > <%= raw @error_places %> </span>
    
  </div>


	<div class="form-group col-xs-12 " style="margin-bottom: 4px;" >
		
		<%= f.submit 'Guardar', :class => 'button right' %>
		
		<%= link_to 'Atrás', referrals_path, class: 'dark' %>
			
	</div>
<% end %>


<% content_for :js do %>

  <script>
  
    $(function() {
      $('.datepicker').datepicker({
        dateFormat: 'dd/mm/yy'
      });
    });
  </script>
<% end %>


