


<% content_for :title do %>
  Referimientos
<% end %>


<div class="container-fluid">
  <div class="row">

    <div class="content-index-title" >
      <h3 class ="index-title"></h3>
      <%= link_to 'NUEVO REFERIMIENTO', new_referral_path, class: 'button' %>
      <span class="clear"></span>
    </div>

    <div class="table-cotainer">
      <table class="table table-hover dt-responsive nowrap">

        <thead>
          <tr>
            <td>Fecha</td>
            <td>Cédula del referido</td>
            <td>Nombre del referido</td>
            <%# <td>Used</td> %>
            <td >Opciones</td>
          </tr>
        </thead>

        <tbody>
          <% @referrals.each do |referral| %>
            <tr>
              <td><%= referral.date.strftime("%-d/%-m/%Y") %></td>
              <td><%= referral.referred.identification_card %></td>
              <td><%= referral.referred.full_name %></td>

              <td>
                <%= link_to edit_referral_path(referral), class: 'button button-icon' do %>
                    <i class="glyphicon glyphicon-pencil"></i>
                <% end %>
                <%= link_to referral, class: 'button button-icon', 
                    method: :delete, data: { confirm: '¿Estas seguro?' } do %>
                    <i class="glyphicon glyphicon-trash"></i>
                <% end %>
              </td>
            
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>