

<% content_for :title do %>
    Nuevo Referimiento
<% end %>

<div class="container-fluid">
    <div class="row">

        <div class="content-form col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <h3 class="col-md-12 page-title">NUEVO REFERIMIENTO</h3>
            <%= render 'form', referral: @referral %>
        </div>
    </div>
</div>