

<div class="container">
    <div class="row">

        <div class="col-xs-12 col-md-6 margin-top-30">
 
            <div class="table-cotainer">
                <h4> <strong>Nombre:</strong> <%= @referred.full_name.titlecase %> </h3>
                <h4> <strong>Cédula: </strong><%= @referred.identification_card %> </h3>

                <br>

        <% if @referrals_active.length > 0 %>


            <% @referrals_active.each do |r_a| %>
                <p>
                    <strong>Fecha de acceso:</strong> <%= r_a.date.strftime("%-d/%-m/%Y") %>
                </p>

                <p><strong>Áreas permitidas:</strong></p>
                <ul>
                    <% r_a.associated_place_referrals.each do |p| %>
                        <li>
                            <%= p.place_associated.place.name %>
                        </li>
                    <%end%>
                </ul>
            <%end%>

            <br>

            </div>
        </div>

            <div class="col-xs-12 col-md-6  margin-top-30">
                <div class="table-cotainer">
                    <%= form_tag('/' + @referred.id.to_s + '/referrals') do |f| %>
                        <h4>Agregar comentario</h4>
                        
                        <%= render  :partial=>"shared/display_errors", :locals => {:resource => @comment, :field => '' } %>

                        <%= hidden_field_tag :referral_id, @referrals_active.first.id %>

                        <div class="form-group col-sm-12 <%= "has-error" if @comment.errors[:content].any? %>">
                            <%= label_tag 'content', 'Comentario', class:"control-label" %>
                            <%= text_area_tag 'content', @comment.content, class: 'form-control' %>
                            <span class="error help-block"><%= @comment.errors[:content].first %></span>
                        </div>

                        <div class="form-group col-sm-12" >
                            <%= submit_tag "Guardar", class: 'button right' %>
                        </div>

                        <span class="clear"></span>
                    <% end %>
            
                
                    <div class='comment-box' >

                        <h4>Comentarios</h4>

                        <% if @comments.length > 0 %>
                            <% @comments.each do |comment| %>
                                <div class="comment">
                                    <p class="header-comment" >De: <strong><%= comment.user.email %></strong> 
                                        <span style="float: right;" > <%=comment.created_at.strftime("%-d/%-m/%Y %I:%M%p ")%> </span> 
                                    </p>
                                    <p><%= comment.content %></p>
                                </div>
                            <%end%>
                        <% else  %>
                            <p>No hay comentarios.</p>
                        <% end %>
                    </div>
                </div>
            </div>
        <% else  %>
                    <p>
                        No tiene referimientos para el día de hoy
                    </p>
                </div>
            </div>
        <%end%>


    </div>
</div>

