<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @referral.date %>
</p>

<p>
  <strong>Token:</strong>
  <%= @referral.token %>
</p>

<p>
  <strong>Used:</strong>
  <%= @referral.used %>
</p>

<%= link_to 'Edit', edit_referral_path(@referral) %> |
<%= link_to 'Back', referrals_path %>
