
<% content_for :title do %>
    Bitácora
<% end %>

<style>
  .dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
    visibility: hidden;
  }
</style>

<div class="container-fluid">
  <div class="row">

    <div class="content-index-title" >
    </div>
      
    <div class="table-cotainer">
        
        <div class="filters-table row">
          <div class="form-group col-xs-12">
            <h4>Buscar por:</h4>
          </div>

          <div class="form-group col-lg-4 col-sm-4 col-xs-12">
            <label for="fecha" class="control-label" style="display: block">Fecha:</label>
            <input type="text" name="fecha" class="datepicker form-control" id="fecha" data-index="0">
          </div>

          <div class="form-group col-lg-4 col-sm-4 col-xs-12">
            <label for="accion" class="control-label " style="display: block">Accion:</label>
            <select name="accion" id="accion" class="input form-control" data-index="1" >
              <option value=""></option>
              <option value="Borrar área">Borrar área</option>
              <option value="Borrar asociado">Borrar asociado</option>
              <option value="Borrar referido">Borrar referido</option>
              <option value="Borrar referimiento">Borrar referimiento</option>
              <option value="Borrar usuario">Borrar usuario</option>
              <option value="Comentario">Comentario</option>
              <option value="Consultar referimiento">Consultar referimiento</option>
              <option value="Crear área">Crear área</option>
              <option value="Crear asociado">Crear asociado</option>
              <option value="Crear referido">Crear referido</option>
              <option value="Crear referimiento">Crear referimiento</option>
              <option value="Crear usuario">Crear usuario</option>
              <option value="Editar área">Editar área</option>
              <option value="Editar asociado">Editar asociado</option>
              <option value="Editar referido">Editar referido</option>
              <option value="Editar referimiento">Editar referimiento</option>
              <option value="Editar usuario">Editar usuario</option>
              <option value="Referimiento inválido">Referimiento inválido</option>
            </select>
          </div>

          <div class="form-group col-lg-4 col-sm-4 col-xs-12">
            <label for="usuario" class="control-label" style="display: block">usuario:</label>
            <input type="text" name="usuario" class="form-control" id="usuario" data-index="2">
          </div>

          <div class="form-group col-lg-4 col-sm-4 col-xs-12">
            <label for="asociado" class="control-label" style="display: block">Nombre asociado:</label>
            <input type="text" name="asociado" class="form-control" id="asociado" data-index="3">
          </div>

          <div class="form-group col-lg-4 col-sm-4 col-xs-12">
            <label for="referido" class="control-label" style="display: block">Nombre referido:</label>
            <input type="text" name="referido" class="form-control" id="referido" data-index="4">
          </div>

          <div class="form-group col-lg-4 col-sm-4 col-xs-12">
            <label for="referido" class="control-label" style="display: block">Cédula referido:</label>
            <input type="text" name="referido" class="form-control" id="referido" data-index="5">
          </div>

          <div class="form-group col-lg-4 col-sm-4 col-xs-12">
            <label for="permitida" class="control-label" style="display: block">Fecha permitida:</label>
            <input type="text" name="permitida" class="datepicker form-control"  id="permitida" data-index="6">
          </div>

          <div class="form-group col-lg-4 col-sm-4 col-xs-12">
            <label for="areas" class="control-label" style="display: block">Áreas:</label>
            <input type="text" name="areas" class="form-control" id="areas" data-index="7">
          </div>

          <div class="form-group col-lg-4 col-sm-4 col-xs-12">
            <label for="comentario" class="control-label" style="display: block">Comentario:</label>
            <input type="text" name="comentario " class="form-control" id="comentario" data-index="8">
          </div>

          
          

        </div>

      <table class="table table-hover dt-responsive nowrap">
        <thead>
          <tr role="row" class="row-gray" >
            <th>Fecha</th>
            <th>Acción</th>
            <th>Usuario</th>
            <th>Nombre Asociado</th>
            <th>Nombre referido</th>
            <th>Cédula referido</th>
            <th>ID referido</th>
            <th>Fecha permitida</th>
            <th>Áreas permitidas</th>
            <th>Comentario</th>
          </tr>
        </thead>

        <tbody>
          <% @binnacles.each do |b| %>
            <tr>

              <td>
                <%= b.date.strftime("%-d/%-m/%Y") %>
              </td>

              <td>
                <%= b.action %>
              </td>

              <td>
                <%= b.user.email %>
              </td>

              <td>
                <%= b.associated_name || '-' %>
                
              </td>

              <td>
                <%= b.referred_name || '-' %>
              </td>

              <td>
                <%= b.referred_card || '-' %>
              </td>

              <td>
                <%= b.referred_id || '-' %>
              </td>


              <td>
                <% if b.referral_date %>
                    <%= b.referral_date.strftime("%-d/%-m/%Y") %>
                <% else %>
                    -
                <% end %>
              </td>

              <td>
                <% if b.areas %>
                  <% b.areas.split(',').each do |a| %>
                    <% if a != '' %>
                      <li> <%= a %> </li>
                    <% end %>
                  <% end %>
                <% else %>
                    -
                <% end %>
              </td>

              <td>
                <% if b.comment %>
                  <%= b.comment %> 
                <% else %>
                    -
                <% end %>
              </td>


            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  
  </div>
</div>


<% content_for :js do %>

  <script>
  
    $(function() {
      $('.datepicker').datepicker({
        dateFormat: 'd/m/yy'
      });
    });
  </script>
<% end %>


