

<div class="container">

    <div class="title-border title-color" >
      <h3>Bienvenido a referimiento</h3>
    </div>

  <div class="authform">


    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h3 class="col-md-12 page-title" >INICIAR SESIÓN</h3>

      <%= devise_error_messages! %>

      <div class="form-group">
        <%- if devise_mapping.registerable? %>
          <%#= link_to 'Iniciar sesión', new_registration_path(resource_name), class: 'right'  %>
        <% end -%>
        <%= f.label :email do %>
          <i class="glyphicon glyphicon-user"></i>
          Correo
        <%- end -%>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%- if devise_mapping.recoverable? %>
          <%= link_to "¿Se te olvidó tu contraseña?", new_password_path(resource_name), class: 'right dark' %>
        <% end -%>
        <%= f.label :password do %>
          <i class="glyphicon glyphicon-lock"></i>
          Contraseña
        <%- end -%>
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <%= f.submit 'INGRESAR', :class => 'button right' %>
      <% if devise_mapping.rememberable? %>
        <div class="checkbox" style="width:150px">
          <label>
            <%= f.check_box :remember_me %> Recordarme
          </label>
        </div>
      <% end %>

    <% end %>

    <%#= render "devise/shared/links" %>
  </div>
</div>