<% icon_sizes = Rails.configuration.serviceworker.icon_sizes %>
{
  "name": "Referimiento App",
  "short_name": "Referimiento",
  "start_url": "/users/sign_in",
  "icons": [
  <% icon_sizes.map { |s| "#{s}x#{s}" }.each.with_index do |dim, i| %>
    {
      "src": "<%= image_path "Icon-#{dim}.png" %>",
      <%# "src": "<%= image_path "siscotel-logo.png" %/>", %>
      "sizes": "<%= dim %>",
      "type": "image/png"
    }<%= i == (icon_sizes.length - 1) ? '' : ',' %>
  <% end %>
  ],
  "theme_color": "#3b8cbe",
  "background_color": "#d9d6e5",
  "display": "fullscreen",
  "orientation": "portrait"
}
