
@import "bootstrap";
$back-color: #d9d6e5;
$base-color: #3b8cbe;
$button-color: #00a55e;
$button-active: #00655a;
$letter-color: white;
$light-color: white;
$dark-active: #1d495f;
$dark-active-rgba: rgba(37,91,117,0.6);

@mixin transition($duration) {
    -webkit-transition: $duration ease-in-out;
    -moz-transition: $duration ease-in-out;
    -ms-transition: $duration ease-in-out;
    -o-transition: $duration ease-in-out;
    transition: $duration ease-in-out;
}
.button, a.dark, a, .active, li {
    @include transition(150ms);
} 

.title-color{
    color: $button-color !important;
}
a.dark, .pagination > li > a{
    color: $base-color !important;
}
main{
    margin: 0;
}

a.dark {
    text-decoration: underline solid $base-color;
}
a.dark:active, a.dark:focus, a.dark:hover{
    text-decoration: underline solid $dark-active !important;
    color: $dark-active !important;
}

form > h3 {
    text-align: center;
    margin-bottom: 30px;
}

.navbar-inverse, .navbar-default{
    border: 0
}
.nav.navbar-nav > li .active{
    font-weight: bold;
}
.navbar-inverse .nav.navbar-nav > li .active, .navbar-inverse .navbar-nav > li > a:hover{
    border-bottom: 6px solid $letter-color;
    color: $letter-color;
    
}
.navbar-inverse .navbar-nav > li > a{
    color: $letter-color;
}

.navbar-nav {
    margin: 0px -15px;
}

nav {
    z-index: 2000;
}


a.button, input.button {
    @extend .btn;
}

.button{
    color: $letter-color;
    background: $button-color !important;
    border: 0 !important;   
}
.button-icon {
    color: $base-color !important;
    background:  $light-color !important;
}
.button:active, .button:focus, .button:hover, .paginate_button.active > a{
    background: $button-active !important;
    color: $letter-color !important;
}
.title-border{
    text-align: center;
    margin: 50px auto 0 auto;
    border-bottom: 1px solid $button-color;
    width: 60%;
}

.index-title {
    float: left;
    height: 30px;
}

.page-title {
    color: $base-color;
    border-bottom: 1px solid;
    padding-bottom: 5px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}

.left {
    float: left;
}

.right { 
    float: right
}


.content-index-title a {
    margin-top: 15px;
    margin-bottom: 10px;
    float: right;
}

.content-index-title{
    margin-top: 20px;
    margin-bottom: 10px;
}


span.clear { clear: left; display: block; }

.form-control:focus {
    border-color: $dark-active;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $dark-active-rgba;
}


.table-cotainer{
    background: white;
    border-radius: 4px;
    padding: 10px;
}

table .row-gray {
    background: $back-color;
}

table .row-white{
    background: $light-color;
}

table {
    width: 100% !important;
    border-bottom: 2px solid #dddddd;
}

.navbar-brand{
    width: 150px;
}
nav{
    margin: 0 !important;
}
.title-navbar {
    border-left: 1px solid gray;
    padding-left: 15px;
}

.navbar-toggle {
    float: left !important;
    margin-left: 15px;
}

// .navbar-header.navbar-right.pull-right {
//     margin-right: 15px;
// }

.navbar-right > li {
    float: left;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
}

#navbar{
    background-color: $base-color;
}


.content-form{
    padding: 15px;
    background: white;
    border-radius: 4px;
    margin-top: 30px;
}


.margin-top-30{
    margin-top: 30px;
}

.comment {
    border-bottom: 1px solid #00a55e;
    margin-bottom: 25px;
}

.header-comment{
    margin-bottom: 5px !important;
}
.comment p{
    margin: 0;
}


main {

    padding-top: 0;
    padding-bottom: 0;
    min-height: calc(100vh + 300px);
}


.back-img{
    width: 100%;
    height: 100%;
}

.img-cont{    
    width: 100%;
    height: fit-content;
    overflow: hidden;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.back-img  h4{   
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    background: #24474dcc;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);

    max-width: 1240px;
}

.back-img img{
    width: 1240px;
    max-width: 1240px;
    height: 307px;
    max-height: 307px;
}


@media only screen and (max-width: 600px) {
    .title-border{
        width: 100%;
    }
    .page-title{
        font-size: 20px;
    }

    .navbar-default .navbar-nav {
        margin: 0px 0;
    }
    .title-navbar {
        padding-left: 8px;
        margin-left: 20px;
    }
    a.dark {
        font-size: 13px;
    }
    .dataTables_info{
        font-size: 11px !important;
    }
}