<p>Hola <%= @resource.email %>!</p>

<p>Su cuenta ha sido bloqueada debido a un número excesivo de intentos fallidos de inicio de sesión.</p>

<p>Haga clic en el enlace a continuación para desbloquear su cuenta:</p>

<p><%= link_to 'Desbloqueo mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
