<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

    <style>
      table {
        border-width: 0;
        border-style: none;
        border-color: #0000ff;
        border-collapse: collapse;
      }

      td {
        border-left: solid 10px #000;
        padding: 0; 
        margin: 0; 
        width: 0px; 
        height: 10px; 
      }

      td.black { border-color: #000; }
      td.white { border-color: #fff; }
    </style>

  </head>
  <body>
    <h2>Hola, <%= @referral.referred.full_name %></h2>
    <p>
        Haz sido invitado el día: <strong><%=@referral.date%></strong>
    </p>
    <p>
      Recuerda mostrar el siguiente código qr para poder acceder a nuestras instalaciones<br>
    </p>
    <p>
        <%= raw @qr_svg.as_html %>
    </p>
    <p>¡Gracias por unirte y que tengas un gran día!</p>
  </body>
</html>