
<%= simple_form_for([:admin, @user], html: {multipart: true}, :defaults => { :input_html => { :class => "form-control" } }) do |f| %>


	<%= render  :partial=>"shared/display_errors", :locals => {:resource => @user, :field => @role_error} %>


	<div class="form-group col-sm-12 <%= "has-error" if @user.errors[:email].any? %>">
		<%= f.label :email, class: 'control-label' %>
		<%= f.input_field :email , class: 'form-control' %>
		<%= f.error :email, class:'help-block' %>
	</div>



	<div class="form-group  col-sm-12 <%= "has-error" if @user.errors[:password].any? %>" >
		<%= f.label :password, class: 'control-label' %>
		<%= f.input_field :password , class: 'form-control' %>
		<%= f.error :password, class:'help-block' %>
	</div>
	

			

	<div class="form-group col-sm-12 <%= "has-error" if @role_error!='' %>" 
			style="margin-bottom: 4px;" 
	>
		<label class="control-label">
			<abbr title="requerido">*</abbr>
			Rol
		</label>
		<select id="role" name="role" class="form-control select2" > 
			<option value='' >Selecciona un rol</option> 
			<option value='1' <%= 'selected' if @role_id=='1' %> > Admin</option> 
			<option value='2' <%= 'selected' if @role_id=='2' %> > Vigilante</option>
		</select>
		
		<span class="error help-block"> <%= raw @role_error %></span>
	</div>

	<div class="form-group col-sm-12" style="margin-bottom: 4px;" >
		
		<%= f.submit 'Guardar', :class => 'button right' %>
		
		<%= link_to 'Atrás', admin_users_path, class:"dark left" %>
			
	</div>

<% end %>


		
