

<% content_for :title do %>
    Usuarios
<% end %>

<div class="container-fluid">
    <div class="row">

        <div class="content-index-title" >
            <%# <h3 class ="index-title">USUARIOS</h3> %>
            <h3 class ="index-title"></h3> 
            <%= link_to 'NUEVO USUARIO', new_admin_user_path, class: 'button' %>
            <span class="clear"></span>
        </div>
        
        <div class="table-cotainer">
            <table class="table table-hover dt-responsive nowrap">
            <thead>
                <tr>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <% User.all.each do |user| %>
                    <tr>
                        <td>
                            <%= user.email %>
                        </td>
                        <td>
                            <% if user.is_admin %>
                                Administrador
                            <% elsif user.is_vigilant %>
                                Vigilante
                            <% elsif user.is_associated %>
                                Asociado
                            <%end%>
                        </td>


                        <td>
                            <%= link_to edit_admin_user_path(user), class: 'button button-icon' do %>
                                <i class="glyphicon glyphicon-pencil"></i>
                            <% end %>
                            <%= link_to admin_user_path(user), class: 'button button-icon', 
                                method: :delete, data: { confirm: '¿Estas seguro?' } do %>
                                <i class="glyphicon glyphicon-trash"></i>
                            <% end %>
                        </td>
                        
                    </tr>
                <% end %>
            </tbody>
            </table>
        </div>

    </div>

</div>