
<% content_for :title do %>
    Nuevo Usuario
<% end %>


<div class="container-fluid">
    <div class="row">

        <div class="content-form col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <h3 class="col-sm-12 page-title" >NUEVO USUARIO</h3>
            <%= render 'form', user: @user %>
        </div>


    </div>

</div>