<%= form_with(model: associated_place_referral, local: true) do |form| %>
  <% if associated_place_referral.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(associated_place_referral.errors.count, "error") %> prohibited this associated_place_referral from being saved:</h2>

      <ul>
      <% associated_place_referral.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :place_associated_id %>
    <%= form.text_field :place_associated_id %>
  </div>

  <div class="field">
    <%= form.label :referral_id %>
    <%= form.text_field :referral_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
