<h1>Editing Associated Place Referral</h1>

<%= render 'form', associated_place_referral: @associated_place_referral %>

<%= link_to 'Show', @associated_place_referral %> |
<%= link_to 'Back', associated_place_referrals_path %>
