<p id="notice"><%= notice %></p>

<h1>Associated Place Referrals</h1>

<table>
  <thead>
    <tr>
      <th>Place associated</th>
      <th>Referral</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @associated_place_referrals.each do |associated_place_referral| %>
      <tr>
        <td><%= associated_place_referral.place_associated %></td>
        <td><%= associated_place_referral.referral %></td>
        <td><%= link_to 'Show', associated_place_referral %></td>
        <td><%= link_to 'Edit', edit_associated_place_referral_path(associated_place_referral) %></td>
        <td><%= link_to 'Destroy', associated_place_referral, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Associated Place Referral', new_associated_place_referral_path %>
