<p id="notice"><%= notice %></p>

<p>
  <strong>Place associated:</strong>
  <%= @associated_place_referral.place_associated %>
</p>

<p>
  <strong>Referral:</strong>
  <%= @associated_place_referral.referral %>
</p>

<%= link_to 'Edit', edit_associated_place_referral_path(@associated_place_referral) %> |
<%= link_to 'Back', associated_place_referrals_path %>
