	
<%= simple_form_for([:admin, associated], html: {multipart: true}, :defaults => { :input_html => { :class => "form-control" } }) do |f| %>
  
  <%= render  :partial=>"shared/display_errors", :locals => {:resource => @associated, :field => @error_places} %>


  <div class="form-group col-sm-12 <%= "has-error" if @associated.errors[:names].any? %>">
    <%= f.label :names, class: 'control-label' %>
    <%= f.input_field :names, class: 'form-control' %>
    <%= f.error :names, class:'help-block' %>
  </div>

  <div class="form-group col-sm-12 <%= "has-error" if @associated.errors[:surnames].any? %>">
    <%= f.label :surnames, class: 'control-label'  %>
    <%= f.input_field :surnames, class: 'form-control' %>
    <%= f.error :surnames, class:'help-block' %>
  </div>

  <div class="form-group col-sm-12 <%= "has-error" if @associated.errors[:identification_card].any? %>">
    <%= f.label :identification_card, class: 'control-label' %>
    <%= f.input_field :identification_card, class: 'form-control' %>
    <%= f.error :identification_card, class:'help-block' %>
  </div>

  <div class="form-group col-sm-12 <%= "has-error" if @associated.errors[:no_casa].any? %>">
    <%= f.label :no_casa, class: 'control-label' %>
    <%= f.input_field :no_casa, class: 'form-control' %>
    <%= f.error :no_casa, class:'help-block' %>
  </div>

  <div class="form-group col-sm-12 <%= "has-error" if @associated.errors[:address].any? %>">
    <%= f.label 'address', class: 'control-label' %>
    <%= f.input_field :address, class: 'form-control' %>
    <%= f.error :address, class:'help-block' %>
  </div>



  <div class="form-group col-sm-12 <%= "has-error" if @error_places != '' %>">
    <%= f.label 'places', class: 'control-label' do %>
      <abbr title="requerido">*</abbr>
      Área
    <% end %>
    <select class="form-control" multiple name="places[]" id="places">
      
      <option value="">Selecionar</option>
      
      <% @places.each do |place| %>
        <option value="<%= place.id %>"  ><%= place.name %></option>
      <% end %>
    </select>

    <span class="error help-block" > <%= raw @error_places %> </span>
    
  </div>




    <%= f.fields_for :user  do |form_user| %>
      <div class="form-group col-sm-12 <%= "has-error" if @associated.errors[:'user.email'].any? %>">
        <label for="associated_user_attributes_email" class="control-label">
          <abbr title="requerido">*</abbr>
          Email
        </label>
  
        <%= form_user.input_field :email, class: 'form-control' %>
        <%= f.error :'user.email', class:'help-block' %>
      </div>

      <div class="form-group col-sm-12 <%= "has-error" if @associated.errors[:'user.password'].any? %>">
        <label for="associated_user_attributes_password" class="control-label">
          <abbr title="requerido">*</abbr> Contraseña
        </label>
  
        <%= form_user.input_field :password, class: 'form-control' %>
        <%= f.error :'user.password', class:'help-block' %>
      </div>
    <% end %>
  



	<div class="form-group col-sm-12 " style="margin-bottom: 4px;" >
		
		<%= f.submit 'Guardar', :class => 'btn btn-primary  right' %>
		
		<%= link_to 'Atrás', admin_associateds_path %>
			
	</div>


<% end %>
