

<% content_for :title do %>
    Editar Asociado
<% end %>

<div class="container-fluid">
  <div class="row">

    <div class="content-form col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

      <h3 class="col-xs-12 page-title" >EDITAR ASOCIADO</h3>
                  
      <%= simple_form_for([:admin, @associated], html: {multipart: true}, :defaults => { :input_html => { :class => "form-control" } }) do |f| %>
        
        <%= render  :partial=>"shared/display_errors", :locals => {:resource => @associated, :field => @error_places} %>


        <div class="form-group col-sm-12 <%= "has-error" if @associated.errors[:names].any? %>">
          <%= f.label :names, class: 'control-label' %>
          <%= f.input_field :names, class: 'form-control' %>
          <%= f.error :names, class:'help-block' %>
        </div>

        <div class="form-group col-sm-12 <%= "has-error" if @associated.errors[:surnames].any? %>">
          <%= f.label :surnames, class: 'control-label'  %>
          <%= f.input_field :surnames, class: 'form-control' %>
          <%= f.error :surnames, class:'help-block' %>
        </div>

        <div class="form-group col-sm-12 <%= "has-error" if @associated.errors[:identification_card].any? %>">
          <%= f.label :identification_card, class: 'control-label' %>
          <%= f.input_field :identification_card, class: 'form-control' %>
          <%= f.error :identification_card, class:'help-block' %>
        </div>

        <div class="form-group col-sm-12 <%= "has-error" if @associated.errors[:no_casa].any? %>">
          <%= f.label :no_casa, class: 'control-label' %>
          <%= f.input_field :no_casa, class: 'form-control' %>
          <%= f.error :no_casa, class:'help-block' %>
        </div>

        <div class="form-group col-sm-12 <%= "has-error" if @associated.errors[:address].any? %>">
          <%= f.label 'address', class: 'control-label' %>
          <%= f.input_field :address, class: 'form-control' %>
          <%= f.error :address, class:'help-block' %>
        </div>



        <div class="form-group col-sm-12 <%= "has-error" if @error_places != '' %>" >
          <%= f.label 'places', class: 'control-label' %>

          <%= select_tag 'places[]', 
              options_for_select(Place.all.map { |p| [p.name, p.id] }, 
              @associated.place_associateds.pluck(:place_id)), 
              multiple: true,
              class: 'form-control'
          %>


          <span class="error help-block" > <%= raw @error_places %> </span>
          
        </div>


        <div class="form-group col-sm-12 " style="margin-bottom: 4px;" >
          
          <%= f.submit 'Guardar', :class => 'btn btn-primary  right' %>
          
          
        <%= link_to 'Atrás', admin_associateds_path %>
            
        </div>

      <% end %>
    </div>


  </div>

</div>