
<% content_for :title do %>
    Asociados
<% end %>

<div class="container-fluid">
  <div class="row">

    <div class="content-index-title">
      <h3 class ="index-title"></h3>
      <%= link_to 'NUEVO ASOCIADO', new_admin_associated_path, class: 'button' %>
      <span class="clear"></span>
    </div>

    <div class="table-cotainer">
        
      <table class="table table-hover dt-responsive nowrap">
        <thead>
          <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Cédula</th>
            <th>No. casa</th>
            <th>Dirección</th>
            <th>Correo</th>
            <th>Opciones</th>
          </tr>
        </thead>

        <tbody>
          <% @associateds.each do |associated| %>
            <tr>
              <td><%= associated.names %></td>
              <td><%= associated.surnames %></td>
              <td><%= associated.identification_card %></td>
              <td><%= associated.no_casa %></td>
              <td><%= associated.address %></td>
              <td><%= link_to associated.user.email, edit_admin_associated_path(associated) %></td>
              <td>
                <%= link_to edit_admin_associated_path(associated), class: 'button button-icon' do %>
                    <i class="glyphicon glyphicon-pencil"></i>
                <% end %>
                
                <%= link_to admin_associated_path(associated), class: 'button button-icon', 
                    method: :delete, data: { confirm: '¿Estas seguro?' } do %>
                    <i class="glyphicon glyphicon-trash"></i>
                <% end %>
              </td>
            
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
