
<% content_for :title do %>
    Nuevo Asociado
<% end %>


<div class="container-fluid">
    <div class="row">


        <div class="content-form col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <h3 class="col-sm-12 page-title" >NUEVO ASOCIADO</h3>
            <%= render 'form', associated: @associated %>
        </div>
    </div>

</div>



