<p id="notice"><%= notice %></p>

<p>
  <strong>Names:</strong>
  <%= @associated.names %>
</p>

<p>
  <strong>Surnames:</strong>
  <%= @associated.surnames %>
</p>

<p>
  <strong>Id:</strong>
  <%= @associated.id %>
</p>

<p>
  <strong>No casa:</strong>
  <%= @associated.no_casa %>
</p>

<p>
  <strong>Address:</strong>
  <%= @associated.address %>
</p>

<p>
  <strong>User:</strong>
  <%= @associated.user %>
</p>

<%= link_to 'Edit', edit_associated_path(@associated) %> |
<%= link_to 'Back', associateds_path %>
