<%# add navigation links to this file %>
<% if user_signed_in? %>

    <% if current_user.is_admin? %>
        <li><%= link_to  "USUARIOS", admin_users_path, class: is_active?(admin_users_path) %></li>
        <li><%= link_to  "ASOCIADOS", admin_associateds_path, class: is_active?(admin_associateds_path) %></li>
        <li><%= link_to  "LUGARES", admin_places_path, class: is_active?(admin_places_path) %></li>
        <li><%= link_to  "BITÁCORA", admin_binnacle_list_path, class: is_active?(admin_binnacle_list_path) %></li>
    <% elsif current_user.is_vigilant? %>
        <li><%= link_to  "SCANEAR QR", scan_referrals_path, class: is_active?(scan_referrals_path) %></li>
    <% elsif current_user.is_associated? %>
        <li><%= link_to  "REFERIDOS", referreds_path, class: is_active?(referreds_path) %></li>
        <li><%= link_to  "REFERIMIENTOS", referrals_path, class: is_active?(referrals_path) %></li>
    <%end%>

<%end%>

   
