<% if user_signed_in? %>
  <li>
    <%= link_to edit_user_registration_path, 
        class: is_active?(edit_user_registration_path),
        "data-toggle" => "tooltip", 
        "title" => "Cambiar contraseña" do %>
      <i class="glyphicon glyphicon-lock"></i>
    <% end %>
  </li>

  <li>
    <%= link_to destroy_user_session_path , :method=>'delete',
        "data-toggle" => "tooltip", 
        "title" => "Cerrar sesión"  do %>
      <i class="glyphicon glyphicon-log-out" ></i>
    <% end %>
  </li>
  
<% else %>

  <li>

    <%= link_to new_user_session_path, 
        "data-toggle" => "tooltip", 
        "title" => "Iniciar sesión" do %>
      <i class="glyphicon glyphicon-log-in"></i>
    <% end %>  

  </li>
<% end %>
   
