<%# navigation styled for Bootstrap 3.0 %>
<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header navbar-left pull-left">
      <%= link_to 'users', class: 'navbar-brand' do %>
        <%= image_tag("siscotel-logo.png", :alt => "referimiento logo") %>
      <% end %>

    </div>

    <div class="navbar-header pull-left">
      <ul class="nav navbar-nav navbar-left" >
        <li>
          <p class="title-navbar navbar-text"><%= content_for?(:title) ? yield(:title) : "Referimiento" %></p>
        </li>
      </ul>
    </div>

      
    <div class="navbar-header navbar-right pull-right">
      <ul class="nav navbar-nav navbar-right">
        <%= render 'layouts/nav_links_for_auth' %>
      </ul>
    </div>

  </div>
</nav>

<% if user_signed_in? %>
<nav class="navbar navbar-inverse nav" id="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <%= render 'layouts/navigation_links' %>
      </ul>

    </div>
  </div>
</nav>
<% end %>
